<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <meta charset="UTF-8">
    <title>SpongeJS</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="navbar">
            <span>Sponge<span class="js">JS</span></span>
        </div>
    </div>
    <div id="main-container" class="row">
        <div id="left-container" class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div id="players-connected-panel" class="panel panel-default">
                        <div id="players-connected-title" class="panel-heading">
                            Players connected
                        </div>
                        <div id="players-connected-body" class="panel-body">
                            <div id="players-connected" class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="center-container" class="col-md-5">
            <div class="row">
                <div id="center-container-content" class="col-md-12">
                    <div id="login-panel" class="panel panel-default">
                        <div class="panel-heading">
                            Login
                        </div>
                        <div id="login-body" class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="col-md-offset-3 col-md-3 img-responsive" src="http://avatar.yourminecraftservers.com/avatar/source/minecraft/background/trnsp/bgParams/%23111111,%23cccccc/notFound/steve/figure/face/figureSize/100/borderSize/1/borderColor/%23000000/canvasSize/256/djxy.png?download">
                                    <div class="col-md-3 dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Dropdown
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="col-md-offset-3 col-md-6 btn btn-success">Send code in-game</button>                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="right-container" class="col-md-5">
            <div class="row">
                <div id="right-container-content" class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>