html, body, body > div {
    height: 100%;
}

#left-container > div, #left-container > div > div {
    height: 100%;
}

#center-container > div, #center-container > div > div, #center-container > div > div > div, #center-container > div > div > div {
    height: 100%;
}

#navbar{
    background-color: #343434;
    height: 70px;
}

#navbar > span {
    margin-left: 15px;
}

#navbar span{
    margin-top: 0;
    padding-top: 0;
    height: 100%;
    color: white;
    font-family: 'Baloo Bhai', cursive;
    font-size: 48px;
}

#navbar span.js{
    color: #339933;
}

#main-container {
    height: calc(100% - 70px);
}

#main-container > div {
    height: 100%;
    padding-top: 15px;
}

.container-fluid {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

body > div{
    background-image: url("../image/background-image.jpg");
    background-size: cover;
    height: 100%;
}

#left-container {
    height: 100%;
}

#players-connected-panel {
    height: 50%;
}

#players-connected-body {
    height: calc(100% - 41px);
    max-height: 100%;
    overflow-y: auto;
}

.playerHead {
    margin-bottom: 15px;
}

.panel {
    border: solid rgb(221, 221, 221) 1px;
    border-radius: 0px;
    box-shadow: none;
}

#right-container-content {
    padding-top: 15px;
}

#login-panel {
    height: 50%;
}

#login-panel-players-connected {
    height: 100%;
    overflow-y: auto;
}