html, body, body > div {
    height: 100%;
}

#left-container > div, #left-container > div > div {
    height: 100%;
}

.panel, .btn, .dropdown-menu {
    border-radius: 0px;
}

#navbar{
    background-color: #333;
    height: 70px;
}

#navbar > span {
    margin-left: 15px;
}

#navbar span{
    margin-top: 0;
    padding-top: 0;
    height: 100%;
    color: white;
    font-family: 'Baloo Bhai', cursive;
    font-size: 48px;
}

#navbar span.js{
    color: #339933;
}

#main-container {
    height: calc(100% - 70px);
}

#main-container > div {
    height: 100%;
    padding: 15px 15px;
}

.container-fluid {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

body > div{
    height: 100%;
}

#left-container {
    height: 100%;
}

#players-connected-panel {
    height: 100%;
}

#players-connected-body {
    height: calc(100% - 41px);
    max-height: 100%;
    overflow-y: auto;
}

.playerHead {
    margin-bottom: 15px;
}

.panel {
    box-shadow: none;
}

#right-container-content {
    padding-top: 15px;
}

#login-panel {
    height: 50%;
}

#login-panel-players-connected {
    height: 100%;
    overflow-y: auto;
}

#login-body button, #login-body input {
    margin-top: 15px;
}